.double-line {
  height: 20px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    background-color: var(--black-6);
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include light {
      background-color: var(--white-4);
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 630px;
    height: 1px;
    background-color: var(--black-6);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @include light {
      background-color: var(--white-4);
    }

    @media #{$sm} {
      width: 300px;
    }
  }
}

.vertical-line {
  position: relative;
  height: 130px;

  @media #{$lg} {
    height: 100px;
  }

  @media #{$sm} {
    height: 70px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 130px;
    inset-inline-start: 50%;
    background-color: var(--white);

    @include light {
      background-color: var(--black-2);
    }

    @media #{$lg} {
      height: 100px;
    }

    @media #{$sm} {
      height: 70px;
    }
  }
}

.separator-1 {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: var(--gray-9);

  @include light {
    background-color: var(--white-3);
  }
}

.separator-4 {
  width: 350px;
  height: 1px;
  display: inline-block;
  background-color: var(--white-14);

  @include light {
    background-color: var(--black-2);
  }

  @media #{$md} {
    width: 260px;
  }

  @media #{$sm} {
    width: 200px;
  }
}

.separator-5 {
  width: 100%;
  height: 1px;
  background-color: var(--blue-9);

  @include light {
    background-color: #e5e5ea;
  }
}
